
body {
    background-color: #000;
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.heart {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red; /* Color base del corazón */
    transform: rotate(-45deg);
    opacity: 0;
    animation: fade-in 1s forwards;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    left: 5px;
    top: 0;
}

/* Animación de destello */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* Animación de unión y destello final */
@keyframes merge {
    to {
        transform: translate(calc(var(--target-x)), calc(var(--target-y))) rotate(-45deg) scale(3);
        opacity: 1;
        background-color: pink;
    }
}